.container{
    display:grid;
    grid-template-columns: minmax(300px, 1fr) 5fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
}
li{
    list-style-type:none;
}
h1{
    display: inline;
}
.logo {
    padding-top: 30px;
    font-family: Roboto, sans-serif;
    color: white;
}
.sidebar{
    background-color: #21A6FF;
    grid-row:  1 / span 6;
    display: grid;
    grid-template-rows: [first-row] 0.25fr [second-row] 1fr [third-row] 1fr [fourth-row] 3fr;  
    gap: 1rem;  
}
.sidebar i{
    color: white;
    padding: 0 1.75rem 0 1rem;
    font-size: 1.25rem;
}
.sidebar p{
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 1rem;
    display: inline-block;
    margin-bottom: 0;
}
.navigation{
    grid-column: 1;
    margin-top: 1rem;
}
.logo p{
    grid-column: 2;
}
.settings{
    grid-column: 1;
    margin-top: 3rem;
}
