body{
    font-family: Roboto, sans-serif;
    margin: 0;
}
.container{
    min-width: 1473px;
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns: 300px 1192px;
}
li{
    list-style-type:none;
}

/*----------------------------------------------*/
.logo {
    padding-top: 30px;
    font-family: Roboto, sans-serif;
    color: white;
}
.logo h1{
    display: inline;
}
.logo p{
    grid-column: 2;
}
.sidebar{
    background-color: #21A6FF;
    grid-row:  1 / span 2;
    display: grid;
    grid-template-rows: 100px 350px 400px;
    gap: 1rem;
}
.sidebar i{
    color: white;
    padding: 0 1.75rem 0 1rem;
    font-size: 1.25rem;
}
.sidebar p{
    font-family: Roboto, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    gap: 1rem;
    display: inline-block;
    margin-bottom: 0;
}
.navigation{
    grid-column: 1;
    margin-top: 1rem;
}
.settings{
    grid-column: 1;
    margin-top: 3rem;
}

/*----------------------------------------------*/
.header{
    padding-left: 3rem;
    margin-top: 1rem;
    width: 96%;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 3fr 2fr;
}
.header img{
    border: 0.5px solid;
    border-radius: 50%;
    height: 3rem;
}
.name{
    display: inline;
}
.search{
    height: fit-content;
    align-self: center;
    display: grid;
    grid-template-columns: min-content auto;
    gap: 2rem;
}
.search i{
    grid-row: 1;
    height: fit-content;
    align-self: center;
    grid-row: 1;
}
.searchbar{
    grid-row: 1;
    height: 2rem;
    width: 80%;
    background-color: #E1E3E8;
    border: 0;
    border-radius: 30px;

}
.profile{
    justify-self: end;
    padding-right: 1rem;
    grid-row: 1;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr;
    gap: 2.5rem;
}
.profile *{
    grid-row: 1;
    font-weight: bold;
    align-self: center;
}
.profile i{
    font-size: 1.5rem;
}
.profile p{
    margin: 0;
    font-size: 1.25rem;
    align-self: center;
}

.user{
    align-self: center;
    grid-row: 2;
    grid-column: 1;
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: min-content auto;
    grid-column-gap: 2rem;
}
.user img{
    /* grid-row: 1 / span 2; */
    height: 5em;
}
.user p{
    grid-row: 1;
    grid-column: 2;
    height: fit-content;
    font-size: .85rem;
    font-weight: bold;
}
.user .user-name{
    grid-row: 1;
    grid-column: 2; 
    font-size: 2rem;

}

.action-buttons{
    padding-right: 1rem;
    align-self: center;
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-rows: 1fr;
    justify-content: end;
    gap: 2rem;
}
.action-buttons * {
    grid-row: 1;
    appearance: none;
    background-color:#21A6FF;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    padding: 0.65rem 2rem;
    border-radius: 20px;
}

/*----------------------------------------------*/
.main{
    background-color: #E1E3E8;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 3fr 1.4fr;
    box-shadow: inset 3px 3px 3px #C3C5C9;
}

.main-heading{
    margin: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    grid-column: 1 / span 2;
}

.announcements{
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
}

.trending{
    grid-row-start: 2;
    grid-column-start: 2;
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr;
}

/*----------------------------------------------*/
.projects{
    grid-row: 1 / span 2;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr 3fr;
    grid-template-columns: 1fr 1fr;
    /* gap: 0.5rem; */
}
.project-card{
    border-radius: 8px;
    background-color: white;
    border-left: 10px solid;
    border-color: #FFB800;
    box-shadow: 3px 3px 10px #C3C5C9;
    padding: 1rem;
    margin: 1.5rem;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}
.projects h1{
    font-size: 1rem;
}
.project-card p{
    color: gray;
    grid-row-start: 2;
    grid-column: 1 / span 3;
}
.project-card i{
    font-size: 1.5rem;
    grid-row-start: 3;
    justify-self: right;
    color: #2F2F30;
}

/*----------------------------------------------*/
.announcements{
    display:grid;
    grid-template-rows: 1fr 4fr;
    /* row-gap: 0.5rem; */
}
.announcement-card{
    background-color: white;
    margin: 1rem 1.5rem 1.5rem 1.5rem;
    padding: 1rem;
    box-shadow: 3px 3px 10px #C3C5C9;
    border-radius: 0.5rem;
    display:grid;
    grid-template-rows: repeat(3, 1fr);

}
.announcement{
    padding-top: 10px;
    margin: 0 2rem 0 2rem;
}
.announcement p{
    margin: 0.5rem 0 0.5rem 0;
    color: gray;
}

.announcement strong{
    margin-top: 5px;
}

/*----------------------------------------------*/
.trending{
    display: grid;
    grid-template-rows: 1fr 4fr;
}
.trending-card{
    background-color: white;
    margin: 1.5rem;
    padding: 1rem;
    box-shadow: 3px 3px 10px #C3C5C9;
    border-radius: 0.5rem;
    display: grid;
    background-color: white;
}
.friends{
    padding-left: 1rem;
    display:grid;
    grid-template-columns: 1fr 4fr;
}
.friends img{
    border-radius: 50%;
    height: 3rem;
    align-self:center;
}
.friends p{
    display: inline;
}